[submodule "sdk/cvi_rtsp"]
	path = sdk/cvi_rtsp
	url = https://github.com/scpcom/cvi_rtsp
	branch = licheervnano-cvisdk
[submodule "sdk/middleware"]
	path = sdk/middleware
	url = https://github.com/scpcom/sophgo-middleware
	branch = licheervnano-cvisdk
[submodule "sdk/osdrv"]
	path = sdk/osdrv
	url = https://github.com/scpcom/sophgo-osdrv
	branch = licheervnano-cvisdk
[submodule "sdk/tdl_sdk"]
	path = sdk/tdl_sdk
	url = https://github.com/scpcom/sophgo-tdl_sdk
	branch = licheervnano-cvisdk